@page "/aportes/create"
@using Eddian_Vasquez_Ap1_P1.models
@using Eddian_Vasquez_Ap1_P1.Components
                     @inject AportesService AporteService
                    @inject NavigationManager Nav

<h3>Crear Aporte</h3>

<EditForm Model="nuevoAporte" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Persona:</label>
        <InputText @bind-Value="nuevoAporte.Persona" class="form-control" />
    </div>
    <div>
        <label>Monto:</label>
         <InputNumber @bind-Value="nuevoAporte.Monto" class="form-control" />
    </div>
    <div>
        <label>Observación:</label>
        <InputText @bind-Value="nuevoAporte.Observacion" class="form-control" />
    </div>
    <button class="btn btn-primary" type="submit">Guardar</button>
</EditForm>
@code {
    private Aporte nuevoAporte = new();

    private async Task Guardar()
    {
        await AporteService.CrearAporteAsync(nuevoAporte);
        Nav.NavigateTo("/aportes");
    }
}

