@page "/Registro/Index"
@using Eddian_Vasquez_Ap1_P1.models
@using Eddian_Vasquez_Ap1_P1.Services
@inject AportesService AporteService
@inject NavigationManager Nav


<h3 class="text-center mt-3">Registro de Aportes</h3>

<div class="row my-3">
	<div class="col-md-3">
        <label>Filtrar por:</label>
        <select class="form-select" @bind="opcionFiltro">
            <option value="">Elija una opción</option>
            <option value="persona">Persona</option>
            <option value="observacion">Observación</option>
        </select>
    </div>
